[user]
	name	= friendzis
	email	= me@friendzis.net

[color]
	ui	= true
	branch	= auto
	diff	= auto
	status	= auto

[color "status"]
	untracked	= cyan
	unchanged	= green
	changed		= red reverse
	added		= yellow reverse

[alias]
	st = status
	ci = commit -a
	co = checkout
	lg = log --oneline --graph --decorate -n 10
